{% extends 'defaults/master_page.html' %}

{% block content %}
<div class="main">
    <div id="mask" data-animation-class="mask" class="anime hide"></div>
    <div id="logo" data-animation-class="logo" class="anime hide"></div>
    <div id="personagem" data-animation-class="personagem" class="anime personage-index hide"></div>
    <div id="menu" data-animation-class="menu" class="anime hide">
        <ul>
            <li><label>Vamos jogar!</label></li>
            <li class="bt-half"><a href="/create-player">Individual</a></li>
            <li class="bt-half"><a href="/create-player/?equipe=sim">Equipe</a></li>
            <li><a href="/ranking">Quem já passou por aqui?</a></li>
            <!--li><a href="#">Fã do Godwanna</a></li>
            <li><a class="bt-red-font" href="#">English</a></li-->
        </ul>
    </div>    
</div>    
{% endblock %}