{% extends 'defaults/master_page.html' %}

{% block title %}
    Por dentro de Gondwana
{% endblock %}

{% block content %}
    {% load staticfiles %}
   
    {% if result %}
    <div class="transition-page abertura-fase">
        <div class="main">
            <div id="mask" data-animation-class="mask" class="anime mask"></div>        
            <div id="personagem-2" data-animation-class="personagem" class="anime personagem"></div>
            <div id="contador-fase-abertura" data-animation-class="contador-fase" class="anime"></div>
            <div id="efeito-luz" data-animation-class="efeito-luz" class="anime efeito-luz"></div>
        </div>
    </div>
    <div class="main">           
                <div id="mask" data-animation-class="mask" class="anime"></div>                
                <!-- TITULO -->
                <div id="contador-fase" data-animation-class="contador-fase" class="anime hide"></div>
                <input type="hidden" id="playerSpeakesEnglish" name="playerSpeakesEnglish" value="{{ playerOne.speakEnglish }}" />
                {% for question in result %}
                <div id="box-grupo-{{ question.order }}" class="box-grupo jq-box-grupo hide">
                    <!-- PERGUNTA -->
                    <div id="box-pergunta-{{ question.order }}" data-resposta="contexto-resposta-{{ question.order }}" data-animation-class="box-pergunta" class="jq-box-pergunta anime hide">
                        <div class="pergunta-content">
                            <div class="numero-pergunta"><span class="text-shadow jq-numero-pergunta-value">1</span></div>
                            <div class="texto-pergunta">
                                {% if playerOne.speakEnglish %}
                                    <div class="texto-coluna">{{ question.qtext_ingles }}</div>
                                {% else %}
                                    <div class="texto-coluna">{{ question.qtext }}</div>
                                {% endif %}
                            </div>
                            <div class="personagem-pergunta"></div>
                        </div>
                    </div>                    
                    <form id="form-resposta-{{ question.order }}" method="POST">                            
                        {% csrf_token %}
                        {% if playerTwo %}
                            {% if question.order|divisibleby:"2" %}                                               
                                <input type="hidden" name="playerName" value="{{ playerTwo.name }}" /> 
                            {% else %}
                                <input type="hidden" name="playerName" value="{{ playerOne.name }}" />
                            {% endif %}
                        {% else %}
                            <input type="hidden" name="playerName" value="{{ playerOne.name }}" /> 
                        {% endif %}
                        
                        <input type="hidden" name="qText" value="{{ question.id }}" /> 
                        <input type="hidden" name="qText" value="{{ question.answer }}" />    
                        <!-- OPÇÕES DE RESPOSTA -->
                        <div class="jq-menu-opcoes menu-opcoes">
                            <ul id="menu-opcoes-lista-{{ question.order }}" data-animation-class="menu-opcoes-lista" class="jq-menu-opcoes-lista anime hide">
                                <li>
                                        <label class="jq-btn btn btn-verdadeiro">
                                            <input type="radio" name="answer" value="True" />
                                            {% if playerOne.speakEnglish %}
                                                <span class="text-shadow">True</span>
                                            {% else %}
                                                <span class="text-shadow">Verdadeiro</span>
                                            {% endif %}
                                        </label>
                                </li>
                                <li>
                                    <label class="jq-btn btn btn-falso">
                                        <input type="radio" name="answer" value="False" />
                                        {% if playerOne.speakEnglish %}
                                            <span class="text-shadow">False</span>
                                        {% else %}
                                            <span class="text-shadow">Falso</span>
                                        {% endif %}
                                    </label>
                                </li>
                            </ul>
                        </div>               
                    </form> 
                    <div id="contexto-resposta-{{ question.order }}" class="jq-contexto-resposta">  
                        <div id="dv_{{ question.order }}">                   
                            <div class="jq-label-resposta label-resposta text-shadow hide">
                                <div class="jq-resposta resposta"></div>            
                            </div>                
                            <div class="jq-explicacao-resposta explicacao-resposta hide">
                                <div class="explicacao-resposta-texto">
                                    {% if playerOne.speakEnglish %}
                                        <p>{{ question.infotext_ingles }}</p>
                                    {% else %}
                                        <p>{{ question.infotext }}</p>
                                    {% endif %}
                                </div>
                                <div class="explicacao-resposta-personagem"></div>
                            </div>
                        </div>                        
                    </div>                
                
            </div>
                {% endfor %}
            

                <div class="menu-footer">
                        <ul>
                        {% if playerOne.speakEnglish %} 
                            <li><a id="jq-btn-proxima" class="visibility-hidden btn btn-proximo" href="#">Next</a> </li>
                            <li><a class="btn btn-preto" href="/thankyou">End</a></li>
                        {% else %}
                            <li><a id="jq-btn-proxima" class="visibility-hidden btn btn-proximo" href="#">Próxima</a> </li>
                            <li><a class="btn btn-preto" href="/thankyou">Fim</a></li>
                        {% endif %}
                        </ul>                                      
                </div>         

    </div>
    {% else %}
        <p>Não Existem questões.</p>
    {% endif %}
    
{% endblock %}

{% block scripts %}
    <script>

        var perguntaAtual = 1;
        var faseAtual = getParameterByName('fase');

        $(function(){ 
            // configuring Phase
            setFase(faseAtual,perguntaAtual);              
            // using jQuery
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            //Ajax Config with CSRF
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $("input[type=radio]").on("click", function(event) {
                var form = $(this).closest("form");
                var playerName = $(form).children()[1].value;
                var question = $(form).children()[2].value;
                var correct =  $(form).children()[3].value;
                var answer = $(event.target).val();
                var divname = "#dv_" + question;
                var spanname = "#sp_" + question;
                var isCorrect = (answer == correct);                
                //console.log(isCorrect);

                event.preventDefault();                            
                
                var url = new URL(window.location.href);
                var fase = url.searchParams.get("fase");
                $.ajax({
                    type:"POST",
                    url:"/questions/?fase="+faseAtual,
                    data: {
                        "playerName":playerName,
                        "question": question,
                        "answer": answer,
                        "isCorrect": isCorrect
                    },
                    //dataType: 'json',
                    success: function(){ 
                        //console.log("sucesso");                         
                        //var contexto_resposta =  "#box-pergunta-"+question;    
                        
                        var resposta = "Errou";                        
                        if(isCorrect){
                            resposta = "Acertou";
                        }                      
                        processaResposta(resposta,perguntaAtual);                        
                        perguntaAtual++;
                    }

                });                
                

            });                   

            $('#jq-btn-proxima').click(function(e){
                e.preventDefault();
                //console.log('aaa');
                setFase(faseAtual,perguntaAtual);
            })
        });
    </script>
{% endblock %}