{% extends 'defaults/master_page.html' %}

{% block title %}
    Por dentro de Gondwana
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <div class="main">           
        <div id="mask" data-animation-class="mask" class="anime"></div> 
        
        <div id="contador-fase-abertura" data-animation-class="contador-fase" class="anime"></div>
        <div id="efeito-luz" data-animation-class="efeito-luz" class="anime efeito-luz"></div>
        <div style="z-index: 1000">
            <p class="tks-text">
            {% if result %}
                    {% for competitor in result %}                 
                        {{ competitor.player.name }} - {{ competitor.points }}<br />
                    {% endfor %}
            {% else %}
                Ranking vazio.
            {% endif %} 
            </p>
        </div>

        <div id="personagem-2" data-animation-class="personagem" class="anime personagem" style="top: 560px"></div>
        <div id="menu" data-animation-class="menu" class="anime hide">
                <ul>
                    <li><a href="/">Voltar ao início</a></li>                        
                </ul>
            </div> 
    </div>
{% endblock %}