{% extends 'defaults/master_page.html' %}

{% block title %}
    Por dentro de Gondwana
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.11&appId=1316649491777548';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="main">           
        <div id="mask" data-animation-class="mask" class="anime"></div> 
            <div id="personagem-2" data-animation-class="personagem" class="anime personagem"></div>
            <div id="efeito-luz" data-animation-class="efeito-luz" class="anime efeito-luz"></div>
            <div class="tks-content">
                <p class="tks-text">                
                    {% if results %}
                        {% for result in results %} 
                            {% if result.player.speakEnglish %}
                               Congrats you made {{ result.points }} points. <br />
                                <input type="hidden" class="playerSpeakesEnglish" value="{{ result.player.speakEnglish }}" />       
                            {% else %}
                                Parabéns você fez {{ result.points }} pontos. <br />
                                <input type="hidden" class="playerSpeakesEnglish" value="{{ result.player.speakEnglish }}" />  
                            {% endif %}                            
                        {% endfor %}
                    {% endif %}                                         
                </p>
            </div>
            <div id="menu" data-animation-class="menu-tks" class="anime hide menu-tks">            
                <ul>
                    <li>
                    <script>
                        var en = document.getElementsByClassName('playerSpeakesEnglish')
                        if (en[0].value == "True"){
                            document.write("<a href='/'>Let's play again</a>");
                        }else{
                            document.write("<a href='/'>Vamos jogar novamente</a>");
                        }
                    </script>                           
                    </li>
                    <li>                        
                        <style>
                            .fb-share-button {
                                transform: scale(7.1);
                                -ms-transform: scale(7.1);
                                -webkit-transform: scale(7.1);
                                -o-transform: scale(7.1);
                                -moz-transform: scale(7.1);
                                transform-origin: top left;
                                -ms-transform-origin: top left;
                                -webkit-transform-origin: top left;
                                -moz-transform-origin: top left;
                                -webkit-transform-origin: top left;
                            }
                        </style>                        
                        <div 
                            class="fb-share-button" 
                            data-href="http://gondwana.geologia.ufrj.br:8000/" 
                            data-layout="button" 
                            data-size="large" 
                            data-mobile-iframe="true">
                            <a class="fb-xfbml-parse-ignore" 
                                target="_blank" 
                                href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">                                                                                                                                 
                            </a>
                        </div>                       
                    </li>                   
                </ul>
            </div> 
        </div>
    </div>
{% endblock %}