<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}  
    <meta charset="utf-8">
    <title>Por dentro do Gondwana</title>
    <link href="{% static "/css/assets.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "/css/styles.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "/js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "/js/animations.js" %}"></script>
    <script src="{% static "/js/quiz.js" %}"></script>
    <script>

      $(function(){

        //Animar um elemento
        //$.anime('#personagem-2')

        //Animar a cena toda
        //coloque a classe "anime" no objeto que deseja animar
        //$.animeScene()

        $.animeScene();

      });
    </script>
    {% block scripts %}
    {% endblock %}
  </head>
  <body>
    <!--header>
      <h1>Por dentro de Gondwana</h1>
      <a href="/">Início</a> | <a href="/ranking">Ranking</a> 
    </header-->
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>