{% extends 'defaults/master_page.html' %}

{% block title %}
    Por dentro de Gondwana
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <div class="main">           
        <div id="mask" data-animation-class="mask" class="anime"></div> 
        <div id="personagem-2" data-animation-class="personagem" class="anime personagem"></div>
        <div id="efeito-luz" data-animation-class="efeito-luz" class="anime efeito-luz"></div>
        <div class="tks-content">
            <p class="tks-text">
                {% if equipe %}
                    Como a sua equipe se chama?
                {% else %}
                    Como você se chama?
                {% endif %}    
            </p>
        </div>
        <div class="menu-footer" style="bottom:300px">
            
                <p class="tks-text" style="color:red">
                    {% if erroNomeCadastrado %}
                        Nome já registrado! Tente novamente.
                    {% endif %}
                    {% if erroNomeVazio %}
                        Nome de Jogador 1 não pode estar vazio. 
                    {% endif %}
                </p>
            
            <form class="frm-player" method="post">
                {% csrf_token %}
                {% if equipe %}
                    <div>
                        <input class="txt-half" type="text" placeholder="Jogador 1" name="txtPlayerOneName" /> 
                        <input class="txt-half-right" type="text" placeholder="Jogador 2"name="txtPlayerTwoName" /> 
                    </div>                    
                {% else %}
                    <input type="text" name="txtPlayerOneName" /> <br /> 
                {% endif %}
                               
                <div style="float:left;margin-top:5px;margin-left:100px " >
                    <input type="radio" id="rdbSpeakEnglishPortugues" name="speakEnglish" style="visibility:hidden;" value="false" checked />
                    <label for="rdbSpeakEnglishPortugues"><img height="130" width="130" src="{%static "/img/pt-br_ico.png" %}" /></label>                    
                </div>
                <div style="float:left;margin-top:5px; margin-left:100px" >
                    <input type="radio" id="rdbSpeakEnglishIngles"  name="speakEnglish" style="visibility:hidden;" value="true" />
                    <label for="rdbSpeakEnglishIngles"><img height="130" width="130" src="{%static "/img/ingles_ico.png" %}" /></label>
                    
                </div>
                <button type="submit" class="btn-proximo">Entrar</button>
            </form>
        </div>
    </div>
{% endblock %}