{% extends 'defaults/master_page.html' %}

{% block content %}
  <h2>Entrar</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">
      Entrar
    </button>
  </form>
{% endblock %}