@charset "utf-8";


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: normal;
	vertical-align: middle;
	word-spacing: normal;
	list-style-position: outside;
	list-style-type: none;
}

.hide{
    display: none;
}

.visibility-hidden{
    visibility: hidden;
}

.mask{
	width:1080px;
	height:1920px;	
	position: absolute;	
	top:0;
	left: 0;
}

.main{
	width:1080px;
	height:1920px;
	margin:0 auto;
	background:#000;	
	position: relative;
    overflow: hidden;
    background:url(../img/Fundo_Main.png) no-repeat;		
}

.abertura-fase .main{
	background:url(../img/Fundo_Fase.png) no-repeat;			
}

.fase-2 .main{
	background:url(../img/Fundo_Fase_2.png) no-repeat;			
}

.fase-3 .main{
	background:url(../img/Fundo_Fase_3.png) no-repeat;			
}

.fase-4 .main{
	background:url(../img/Fundo_Fase_4.png) no-repeat;			
}

.pergunta .main{
    background:url(../img/Fundo_Pergunta.png) no-repeat;
}

.fase-2.pergunta .main{ background:url(../img/Fundo_Pergunta_Fase_2.png) no-repeat !important;}
.fase-3.pergunta .main{ background:url(../img/Fundo_Pergunta_Fase_3.png) no-repeat !important;}
.fase-4.pergunta .main{ background:url(../img/Fundo_Pergunta_Fase_4.png) no-repeat !important;}




.main .logo{ 
	text-align: center;
    margin: 0 auto;
    width: 913px;
    height: 394px;
	padding-top: 20px;
	background-repeat: no-repeat; 
	background-position: 1.5px 8px;
	
}


.main .personagem {
    width: 620px;
    height: 960px;
    margin: auto;
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 334px;
    margin-left: -310px;    
    background: url(../img/Personagem_1.png) no-repeat;
}

.fase-1 .main .personagem {
    background: url(../img/Personagem_2.png) no-repeat;
}

.fase-2 .main .personagem {
    background: url(../img/Personagem_4.png) no-repeat;
}


.fase-3 .main .personagem{
    background: url(../img/Personagem_5.png) no-repeat;
}

.fase-4 .main .personagem{
    background: url(../img/Personagem_6.png) no-repeat;
}



.main .menu {
	margin: 0;
    width: 826px;
    position: absolute;
    bottom: 35px;
    left: 50%;
    margin-left: -413px;
}

.main .menu li.bt-half {
    width: 50%;
    float: left;
}

.main .menu li{
    width: 100%;
    display: inline-grid;
}


.main .menu li a {
    display: inline-block;
    text-align: center;
    color: #0070bb;
    line-height: 76px;
    font-family: 'Helvetica87-CondensedHeavy', Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    padding-top: 0px;
    background: rgba(247,247,247,1);
    background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(222,222,222,1) 96%, rgba(189,189,189,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,247,247,1)), color-stop(96%, rgba(222,222,222,1)), color-stop(100%, rgba(189,189,189,1)));
    background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(222,222,222,1) 96%, rgba(189,189,189,1) 100%);
    background: -o-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(222,222,222,1) 96%, rgba(189,189,189,1) 100%);
    background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(222,222,222,1) 96%, rgba(189,189,189,1) 100%);
    background: linear-gradient(to bottom, rgba(247,247,247,1) 0%, rgba(222,222,222,1) 96%, rgba(189,189,189,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#bdbdbd', GradientType=0 );
    border-radius: 20px;
    border: 6px solid #fff;
    margin: 10px;
    box-shadow: 0px 2px 31px rgba(0,0,0,0.8);
}

.main .menu li.bt-half a {
    font-size: 48px;
    line-height: 70px;
}

.main .menu li a:hover {
	color:#00c7e5;
}

.bt-red-font{
	color:#ff0000 !important;
}


.efeito-luz{
    width: 1080px;
    height: 1920px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.fase-1 .efeito-luz{
    background: url(../img/Fundo_Efeito.png) no-repeat;
 }

.fase-2 .efeito-luz{
    background: url(../img/Fundo_Efeito_2.png) no-repeat;
}

.fase-3 .efeito-luz{
    background: url(../img/Fundo_Efeito_3.png) no-repeat;
}

.fase-4 .efeito-luz{
    background: url(../img/Fundo_Efeito_4.png) no-repeat;
}


.contador-fase {
    width: 1080px;
    height: 300px;
    position: absolute;
    left: 0;
    z-index: 5000;
    bottom: 316px;
    margin-left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    font-size: 100px;
    color: #fff;
    font-family: 'Helvetica87-CondensedHeavy', Helvetica, Arial, sans-serif;
}

.pergunta .contador-fase {
    width: 1080px;
    height: 200px;
    position: absolute;
    z-index: 5000;
    top: 50px;
}



.fase-1 .contador-fase{    background: url(../img/titulo_fase_1.png) no-repeat;}
.fase-2 .contador-fase{    background: url(../img/titulo_fase_2.png) no-repeat;}
.fase-3 .contador-fase{    background: url(../img/titulo_fase_3.png) no-repeat;}
.fase-4 .contador-fase{    background: url(../img/titulo_fase_4.png) no-repeat;}

.pergunta.fase-1 .contador-fase{    background: url(../img/titulo_interno_fase_1.png) no-repeat;}
.pergunta.fase-2 .contador-fase{    background: url(../img/titulo_interno_fase_2.png) no-repeat;}
.pergunta.fase-3 .contador-fase{    background: url(../img/titulo_interno_fase_3.png) no-repeat;}
.pergunta.fase-4 .contador-fase{    background: url(../img/titulo_interno_fase_4.png) no-repeat;}


.box-pergunta {
    position: absolute;
    width: 960px;
    top: 350px;
    left: 50%;
    margin-left: -5080px;
}

.box-pergunta .pergunta-content{
    position: relative;
}


.box-pergunta .pergunta-content .texto-pergunta {
    background: #fff;
    border-radius: 10px;
    font-size: 70px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 70px 45px;
    z-index: 1;
    line-height: 76px;
}

.box-resposta .pergunta-content .texto-pergunta {
    font-size: 50px;
    line-height: 50px
}

.box-pergunta .pergunta-content .texto-pergunta .texto-coluna{
    width: 70%;
}

.box-pergunta .pergunta-content .personagem-pergunta {
    background: url(../img/Personagem_3.png);
    width: 408px;
    display: inline-block;
    height: 647px;
    position: absolute;
    right: -50px;
    z-index: 1000;
    top: 82px;
    background-repeat: no-repeat;
}

.box-resposta .pergunta-content .personagem-pergunta {
    background: url(../img/Personagem_7.png);
    width: 313px;
    display: inline-block;
    height: 433px;
    position: absolute;
    right: -50px;
    z-index: 1000;
    top: 15px;
    background-repeat: no-repeat;
}

.box-pergunta .pergunta-content .numero-pergunta {
    background: #f30000;
    width: 120px;
    height: 120px;
    position: absolute;
    top: -70px;
    left: -35px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 120px;
    font-size: 100px;
    font-family: 'Helvetica87-CondensedHeavy', Helvetica, Arial, sans-serif;
}

.menu-opcoes {
    position: absolute;
    top: 60%;
    width: 995px;
    left: 50%;
    margin-left: -497.5px;
    height: 420px;
    overflow: hidden;
}

.menu-opcoes .menu-opcoes-lista {
    margin-top: -370px;
}


.menu-opcoes .btn {
    width: 995px;
    height: 190px;
    display: inline-table;
    text-align: center;
    color: #fff;
    font-family: 'Helvetica87-CondensedHeavy', Helvetica, Arial, sans-serif;
    text-decoration: none;
    line-height: 180px;
    background-repeat: no-repeat;
    font-size: 115px;
    text-transform: uppercase;
}

.menu-opcoes .btn:hover{
    background-position: 0 -190px;
}

.menu-opcoes .btn-verdadeiro {
    background-image: url(../img/Fundo_bt_verdadeiro.png);
}

.menu-opcoes .btn-falso {
    background-image: url(../img/Fundo_bt_falso.png);
}


.label-resposta {
    position: absolute;
    top: 45%;
    width: 1000px;
    height: 195px;
    left: 50%;
    margin-left: -500px;
    overflow: hidden;
}

.label-resposta div {
    background: url(../img/bg_label_resposta.png) no-repeat;
    height: 190px;
    text-align: center;
    color: #fff;
    font-family: 'Helvetica87-CondensedHeavy', Helvetica, Arial, sans-serif;
    text-decoration: none;
    line-height: 180px;
    background-repeat: no-repeat;
    font-size: 115px;
    text-transform: uppercase;
}

.verdadeiro .label-resposta div {
   background-position: 0 -186px;
}

.falso .label-resposta div {
    background-position: 0 0px;
}

.explicacao-resposta{
    position: absolute;
    color: #fff;
    padding: 0 50px;
    top: 60%;
    width: 100%;
}

.explicacao-resposta .explicacao-resposta-texto {
    width: 680px;
    float: left;
    font-size: 2.5rem;
}

.explicacao-resposta .explicacao-resposta-texto h3 {
    font-family: 'Helvetica87-CondensedHeavy', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 60px;
}
.explicacao-resposta .explicacao-resposta-texto p {
    font-family: 'Helvetica LT Std', Helvetica, Arial, sans-serif;
    font-size: 40px;
    padding-top: 20px;
    line-height: 45px;
}

.explicacao-resposta .explicacao-resposta-personagem {
    width: 320px;
    float: left;
    height: 462px;
}

.verdadeiro .explicacao-resposta .explicacao-resposta-personagem{
    background: url(../img/Personagem_Acerto_1.png) no-repeat;
}

.falso .explicacao-resposta .explicacao-resposta-personagem{
    background: url(../img/Personagem_Erro.png) no-repeat;
}


.menu-footer{
    text-align: right;
    position: absolute;
    bottom: 40px;
    width: 995px;
    left: 50%;
    margin-left: -497.5px;
    height: 150px;
}

.menu-footer ul{
    width: 60%;
    float: right;
}

.menu-footer ul li{
    float: left;
    width: 50%;
}

.menu-footer a.btn-preto {
    display: inline-block;
    text-align: center;
    color: #fff;
    line-height: 76px;
    font-family: 'Helvetica87-CondensedHeavy', Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: 900;
    font-size: 90px;
    text-transform: uppercase;
    padding-top: 0px;
    background: rgba(50,50,50,1);
    background: -moz-linear-gradient(top, rgba(50,50,50,1) 0%, rgba(37,37,37,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(50,50,50,1)), color-stop(100%, rgba(37,37,37,1)));
    background: -webkit-linear-gradient(top, rgba(50,50,50,1) 0%, rgba(37,37,37,1) 100%);
    background: -o-linear-gradient(top, rgba(50,50,50,1) 0%, rgba(37,37,37,1) 100%);
    background: -ms-linear-gradient(top, rgba(50,50,50,1) 0%, rgba(37,37,37,1) 100%);
    background: linear-gradient(to bottom, rgba(50,50,50,1) 0%, rgba(37,37,37,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#252525', GradientType=0 );
    border-radius: 20px;
    border: 8px solid #333333;
    margin: 10px;
    padding: 20px 20px;
    cursor: pointer;
}

.menu-footer a.btn-preto:hover{
    border: 8px solid #adadad;
    background: rgba(173,173,173,1);
    background: -moz-linear-gradient(top, rgba(173,173,173,1) 0%, rgba(168,168,168,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(173,173,173,1)), color-stop(100%, rgba(168,168,168,1)));
    background: -webkit-linear-gradient(top, rgba(173,173,173,1) 0%, rgba(168,168,168,1) 100%);
    background: -o-linear-gradient(top, rgba(173,173,173,1) 0%, rgba(168,168,168,1) 100%);
    background: -ms-linear-gradient(top, rgba(173,173,173,1) 0%, rgba(168,168,168,1) 100%);
    background: linear-gradient(to bottom, rgba(173,173,173,1) 0%, rgba(168,168,168,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adadad', endColorstr='#a8a8a8', GradientType=0 );
}

.menu-footer .btn-proximo {
    background: url(../img/Fundo_bt_proximo.png) no-repeat;
    width: 336px;
    height: 120px;
    display: inline-block;
    text-align: center;
    color: #fff;
    line-height: 120px;
    font-family: 'Helvetica87-CondensedHeavy', Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    padding-top: 0px;
    text-indent: -25px;
    margin-top: 20px;
}

.menu-footer .btn-proximo:hover {
    background-position: 0 -114px;
}










.text-shadow {
    text-shadow: 6px 5px 0px rgba(0,0,0,0.5);
}

.btn:hover .text-shadow {
    text-shadow: 6px 5px 0px rgba(0,0,0,0.1);
}

.pager-fase{}

.pager-fase li{
    background: #ccc;
    width: 262px;
    height: 7px;
    float: left;
    top: 0;
    margin: 2px 4px;
    border: 0px solid #0070bb;
}

.pager-fase li.active{
    background: #fff;
}



/*Animations*/
/*Mask*/
.mask {
    animation: fade_mask 2s 0s 1 ease-out;    
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes fade_mask {
    0%   {background:#000; }
    100% {background:none; z-index:0;}
}

/* Standard syntax */
@keyframes fade_mask {
    0%   {background:#000; }
    100% {background:none; z-index:0;}
}



/*logo*/
.logo {
    animation: logo_position 2s ease-out 0s, logo_bg 2s linear 0s infinite;    
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes logo_position {
    0%   {left:-1000px; }
    100% {left:50%;}
}

/* Standard syntax */
@keyframes logo_position {
    0%   {margin: -500px auto; transform: rotate(15deg);}
    100% { margin: 0px auto; transform: rotate(0deg);}
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes logo_bg {
	0% 		{ background-image: url(../img/Logo.png);}
	5%   	{ background-image: url(../img/Logo_Brilho.png);}
	25%   	{ background-image: url(../img/Logo.png);}
	40%   	{ background-image: url(../img/Logo.png);}
	50%   	{ background-image: url(../img/Logo_Brilho.png); }
	75%   	{ background-image: url(../img/Logo.png);}
	80%   	{ background-image: url(../img/Logo_Brilho.png);}
	90%   	{ background-image: url(../img/Logo.png);}
	100%   	{ background-image: url(../img/Logo_Brilho.png);}
}

/* Standard syntax */
@keyframes logo_bg {
	0% 		{ background-image: url(../img/Logo.png);}
	5%   	{ background-image: url(../img/Logo_Brilho.png);}
	25%   	{ background-image: url(../img/Logo.png);}
	40%   	{ background-image: url(../img/Logo.png);}
	50%   	{ background-image: url(../img/Logo_Brilho.png); }
	75%   	{ background-image: url(../img/Logo.png);}
	80%   	{ background-image: url(../img/Logo_Brilho.png);}
	90%   	{ background-image: url(../img/Logo.png);}
	100%   	{ background-image: url(../img/Logo_Brilho.png);}
}


/*personagem*/
.personagem {
    -webkit-animation-name: personagem; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    animation-name: personagem;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes personagem {
    0%   {left:-1000px; }
    100% {left:50%;}
}

/* Standard syntax */
@keyframes personagem {
    0%   {left:-1000px; }
    100% {left:50%;}
}

/*personagem 2*/
.personagem-2 {
    -webkit-animation-name: personagem-2; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    animation-name: personagem-2;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes personagem-2 {
    0%   { opacity:0; }
    50%  { opacity:0; }
    100% { opacity:1; }
}

/* Standard syntax */
@keyframes personagem-2 {
    0%   { opacity:0; }
    50%  { opacity:0; }
    100% { opacity:1; }
}

/*menu*/

.menu {
    -webkit-animation-name: menu; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    animation-name: menu;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes menu {
    0%   { bottom: -1000px; }
    100% { bottom: 35px; z-index: 1000;}
}

/* Standard syntax */
@keyframes menu {
    0%   { bottom: -1000px; }
    100% { bottom: 35px; z-index: 1000}
}

/*luz*/
@keyframes flickerAnimation {
    0%   { opacity:0; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:0; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:0; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:0; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }

  .efeito-luz {
     -webkit-animation: flickerAnimation 2s;
     -moz-animation: flickerAnimation 2s;
     -o-animation: flickerAnimation 2s;
      animation: flickerAnimation 2s;
  }




/* Safari 4.0 - 8.0 */
@-webkit-keyframes scaleCounter {
    0% {visibility:hidden; opacity: 0;transform: scale(0.8);} 
    95% {opacity: 1;transform: scale(1.05);} 
    100% { visibility:visible; opacity: 1;transform: scale(1);} 
}

/* Standard syntax */
@keyframes scaleCounter {
    0% {visibility:hidden; opacity: 0;transform: scale(5.0);} 
    95% {opacity: 1;transform: scale(0.8);} 
    100% { visibility:visible; opacity: 1;transform: scale(1);}  
}

.contador-fase { 
    -webkit-animation-name: scaleCounter; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    animation-name: scaleCounter;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-out; 
    animation-timing-function: ease-out;
} 



.box-pergunta { 
    -webkit-animation-name: boxPerguntaRotate; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    animation-name: boxPerguntaRotate;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-out; 
    animation-timing-function: ease-out;

    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation-fill-mode:forwards; /*IE 10+*/
    animation-fill-mode:forwards; /*when the spec is finished*/

    -webkit-animation-delay:1.5s; 
    -moz-animation-delay:1.5s;
    -o-animation-delay:1.5s; 
    -ms-animation-delay:1.5s; 
    animation-delay:1.5s;
} 


/* Safari 4.0 - 8.0 */
@-webkit-keyframes boxPerguntaRotate {
    0%   {margin-left: -1000px; transform: rotate(15deg);}
    100% { margin-left: -480px; transform: rotate(0deg);}
}

/* Standard syntax */
@keyframes boxPerguntaRotate {
    0%   {margin-left: -1000px; transform: rotate(15deg);}
    100% { margin-left: -480px; transform: rotate(0deg);}
}



.menu-opcoes-lista { 
    -webkit-animation-name: menuOpcoesLista; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    animation-name: menuOpcoesLista;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-out; 
    animation-timing-function: ease-out;

    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation-fill-mode:forwards; /*IE 10+*/
    animation-fill-mode:forwards; /*when the spec is finished*/

    -webkit-animation-delay:1.8s; 
    -moz-animation-delay:1.8s;
    -o-animation-delay:1.8s; 
    -ms-animation-delay:1.8s; 
    animation-delay:1.8s;
} 


/* Safari 4.0 - 8.0 */
@-webkit-keyframes menuOpcoesLista {
    0%   {margin-top: -1000px; }
    100% { margin-top: 0;}
}

/* Standard syntax */
@keyframes menuOpcoesLista {
    0%   {margin-top: -1000px; }
    100% { margin-top: 0;}
}
